.form {
    display: block;
    margin: 0 auto;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    border: 3px solid black;
    box-shadow: 0 0 1rem black;
    /*visibility: hidden;*/
    padding: 10px;
}

#formDiv {
    margin: 50px;
    display: none;
}

.formElement {
    margin: 15px;
    font-size: 16px;
}

#newBookButton {
    background-color:rgb(48, 253, 29);
    width: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

#tbl {
    width: 80%;
    text-align: center;
}